/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
body {
  font-family: 'Roboto', sans-serif;
}

/* line 9, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
img {
  display: block;
  max-width: 100%;
}

@media (min-width: 0px) {
  /*************** HEADER ***************/
  /* line 20, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;
    background: #F9F9F9;
    align-items: center;
    padding: 0 15px;
  }
  /* line 29, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .header__logo {
    justify-self: flex-start;
  }
  /* line 33, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .img__hamb {
    justify-self: end;
  }
  /* line 37, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .header__button, .header__navigation {
    display: none;
  }
  /*************** APRESENTAION ***************/
  /* line 44, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .apresentation__title {
    grid-area: ap-title;
  }
  /* line 48, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .apresentation__sub__title {
    grid-area: ap-sub-title;
  }
  /* line 52, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .apresentation__button {
    grid-area: ap-button;
  }
  /* line 56, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .apresentation__container__img {
    grid-area: ap-container-img;
  }
  /* line 60, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .apresentation {
    display: grid;
    grid-template: "ap-title" "ap-container-img" 400px   "ap-sub-title" "ap-button";
    background-color: #E4E4E4;
    padding: 60px 0;
  }
  /* line 71, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .apresentation__title {
    margin: auto;
    max-width: 300px;
    font-size: 34px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
  }
  /* line 81, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .apresentation__sub_title {
    max-width: 270px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: auto;
  }
  /* line 89, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .apresentation__container__img {
    position: relative;
    align-self: center;
  }
  /* line 94, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .apresentation__img__bed {
    position: relative;
    margin: 0 auto;
    max-width: 280px;
    z-index: 10;
  }
  /* line 101, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .cloud__1, .cloud__2, .cloud__3 {
    position: absolute;
    z-index: 5;
  }
  /* line 106, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .cloud__1 {
    top: -15px;
    left: 5px;
  }
  /* line 111, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .cloud__2 {
    top: 10px;
    right: 10px;
  }
  /* line 116, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .cloud__3 {
    top: -2px;
    left: -15px;
  }
  /* line 121, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .apresentation__button {
    justify-self: center;
    align-self: center;
    padding: 10px;
    border: none;
    background: #0B7BFB;
    border-radius: 10px;
    margin-top: 26px;
  }
  /* line 130, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .apresentation__button .apresentation__button__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    gap: 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
  }
  /* line 145, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .beds-featured__main {
    grid-area: bf-main;
  }
  /* line 149, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .beds-featured__combo {
    grid-area: bf-combo;
  }
  /* line 153, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .beds-featured {
    margin: 40px 20px;
  }
  /* line 157, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .main__observation {
    font-size: 14px;
    line-height: 12px;
    color: #AFAFB2;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  /* line 166, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .main__offer {
    font-size: 32px;
    margin-top: 8px;
    font-weight: 700;
  }
  /* line 172, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .beds-featured__main {
    position: relative;
    margin-top: 16px;
  }
  /* line 177, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .beds-featured__main .main__observation, .beds-featured__main .main__category, .beds-featured__main .main__description {
    position: absolute;
  }
  /* line 181, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .beds-featured__main .main__observation {
    top: 24px;
    left: 15px;
  }
  /* line 186, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .beds-featured__main .main__category {
    top: 40px;
    left: 15px;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1px;
    max-width: 160px;
    color: #FFFFFF;
  }
  /* line 197, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .beds-featured__main .main__description {
    font-size: 14px;
    color: #FFFFFF;
    bottom: 24px;
    left: 24px;
  }
  /* line 204, ../../../../../laragon/www/Bomsono-Landing-Page/css/scss/style.scss */
  .beds-featured__main .beds-featured__main__img {
    width: 100%;
    border-radius: 15px;
  }
}

/*# sourceMappingURL=style.css.map */